@using Microsoft.AspNetCore.Mvc.Localization
@model UserStatusComponentModel

@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> HtmlLocalizer

@if (Model.IsUserAuthenticated)
{
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a asp-controller="" asp-action="" class="m-2">
                    <span>@Localizer["Home"]</span>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Notifications" asp-action="ShowNotifications" asp-route-userId="@Model.CurrentUserId" class="m-2">
                    <i class="fa-solid fa-bell fa-lg"></i>
                    <span id="notificationBadge" class="badge">@Model.UserUnreadNotificationCount</span>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="" asp-action="" class="m-2">
                    <i class="fa-solid fa-pencil"></i>
                </a>
            </li>
            <li class="nav-item">
                <a asp-page="/Account/Manage/Index">@Localizer["Manage_account"]</a>
            </li>
            <li class="nav-item">
                <a asp-page="/Account/LogOut">@HtmlLocalizer["Log_out"]</a>
            </li>
        </ul>
@*         <div class="user d-flex align-items-center justify-content-center">
            <img src="/images/ben-sweet-2LowviVHZ-E-unsplash.jpg" alt="User Avatar" class="rounded-circle" />
            <span class="username">Username</span>
        </div>
 *@    </div>
}
else
{
    <div class="not-auth-container">
        <span>@Localizer["Not_logged_in"] </span>
        <a asp-area="Identity" asp-page="/Account/Login">@HtmlLocalizer["Log_in"]</a>
        <span> @Localizer["or"] </span>
        <a asp-area="Identity" asp-page="/Account/Register">@HtmlLocalizer["Register"]</a>
    </div>
}