@using Microsoft.AspNetCore.Mvc.Localization
@model ICollection<DevRhythm.App.DTOs.PostShortDto>

@inject IHtmlLocalizer<DevRhythm.Web.SharedResource> HtmlLocalizer

@foreach (var post in Model)
{
    <div class="post-preview-card d-flex flex-column">
        <div class="user-short-content">
            <user-short-info user="post.Author"></user-short-info>
        </div>
        <div class="main-preview-content">
            <h3>@post.Heading</h3>
            <p>@post.PreviewContent</p>
        </div>
        <div class="tag-section">
            @await Html.PartialAsync("_TagCollectionPartial", post.Tags)
        </div>
        <div class="vote-result text-center rounded-pill d-flex align-items-center justify-content-start">
            @post.VoteResult
            <div class="vote-arrow-container d-flex flex-column justify-content-start">
                <i class="fa-solid fa-caret-up"></i>
                <i class="fa-solid fa-caret-down"></i>
            </div>
        </div>
        <a asp-controller="Post" asp-action="ShowPost" asp-route-postId="@post.Id" class="read-link rounded-pill">@HtmlLocalizer["Read"]</a>
    </div>
}
