@model ICollection<DevRhythm.App.DTOs.PostShortDto>
@foreach (var post in Model)
{
    <div class="post-preview-card d-flex flex-column">
        <div class="user-info d-flex align-items-start position-relative">
            <img class="rounded-circle" src="@(post.Author?.ImageUrl ?? "/images/account-icon-user-icon-vector-graphics_292645-552.jpg")" />
            <user-short-info user="post.Author"></user-short-info>
        </div>
        <div class="main-preview-content">
            <h3>@post.Heading</h3>
            <p>@post.PreviewContent</p>
        </div>
        <div class="tag-section">
            @foreach (var tag in post.Tags)
            {
                <button class="rounded-pill tag" onclick="getPostsByTag(@tag.Id)">@tag.Name</button>
            }
        </div>
        <div class="vote-result text-center rounded-pill d-flex align-items-center justify-content-start">
            @post.VoteResult
            <div class="vote-arrow-container d-flex flex-column justify-content-start">
                <i class="fa-solid fa-caret-up"></i>
                <i class="fa-solid fa-caret-down"></i>
            </div>
        </div>
    </div>
}
