@using Microsoft.AspNetCore.Mvc.Localization
@using DevRhythm.Shared.Enums
@model DevRhythm.Web.Models.MainPostPageModel

@inject IViewLocalizer Localizer

<div class="aside-main d-flex justify-content-end">
    <aside class="side-bar position-fixed p-3">
        <h3 class="filter-h3">@Localizer["Filter_by_tags"]</h3>
        <div class="tag-filter-section scrollable-container">
            @foreach (var tag in Model.Tags)
            {
                <div class="checkbox-wrapper">
                    <input type="checkbox" id="tag_@tag.Id" name="selectedTags" value="@tag.Id" @(tag.IsChecked ? "checked" : "") />
                        <label for="tag_@tag.Id">@tag.Name</label>
                </div>
            }
        </div>
        <div class="sort-section d-flex flex-column">
            <label for="SortProperty">@Localizer["Sort_criteria"]</label>
            <select class="select-main" id="SortProperty" asp-items="Html.GetEnumSelectList<DevRhythm.Shared.Enums.SortProperty>()"></select>
            <label for="SortProperty">@Localizer["Sort_order"]</label>
            <select class="select-main" id="SortOrder" asp-items="Html.GetEnumSelectList<DevRhythm.Shared.Enums.SortOrder>()"></select>
        </div>
    </aside>
    <div class="main-container">
        <main role="main" class="pb-3">
            <div id="post-section" class="d-flex flex-column align-items-center">
            </div>
        </main>
    </div>
</div>



@section Scripts {
    <script src="~/js/post.bundle.js"></script>
}
